In [1]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC 
from sklearn.metrics import classification_report

In [2]:
# read in csv
df = pd.read_csv('encoded_transactions.csv').sample(n=290)

#df of all values in csv
df1a = df.drop(columns=["offer_completed", "paid"])
df1 = df1a.drop(columns=["offer_viewed"])

#df of only viewed rows in csv
df2 = df1a[df1a['offer_viewed_y_n'] == 1].drop(columns=["offer_viewed"])

#df using best columns from linear regression model
df3a = df.drop(columns=["offer_completed", "paid", "age", "became_member_on"])
df3 = df3a.drop(columns=["offer_viewed"])

# best columns from linear regression, only viewed rows
df4 = df3a[df3a['offer_viewed_y_n'] == 1].drop(columns=["offer_viewed"])

dataframes = [df1, df2, df3, df4]
df

,offer_id,gender,age,became_member_on,income,reward,channels,difficulty,duration,offer_type,paid,offer_received,offer_viewed,offer_viewed_y_n,offer_completed,offer_completed_y_n
62154,8,1,84.0,1168,86000.0,5.0,2,5.0,5.0,1,0.00,504,27,1,70,0
10093,9,2,56.0,1046,65000.0,2.0,2,10.0,10.0,0,0.00,408,90,1,70,0
38621,7,2,59.0,729,66000.0,2.0,1,10.0,7.0,0,0.00,168,72,1,70,0
60754,5,1,28.0,380,46000.0,10.0,0,10.0,7.0,1,0.00,504,34,1,70,0
42152,6,1,57.0,385,87000.0,10.0,2,10.0,5.0,1,18.22,336,86,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34982,6,2,69.0,792,47000.0,10.0,2,10.0,5.0,1,0.00,0,73,1,70,0
35250,0,2,74.0,127,71000.0,0.0,1,0.0,4.0,2,0.00,576,57,1,70,0
28312,8,2,82.0,78,65000.0,5.0,2,5.0,5.0,1,0.00,0,10,1,70,0
31378,0,1,93.0,674,56000.0,0.0,1,0.0,4.0,2,0.00,0,103,1,70,0
58810,7,1,53.0,1312,49000.0,2.0,1,10.0,7.0,0,27.51,336,55,1,55,1

In [3]:
def test(frame):
    target = frame["offer_completed_y_n"]
    target_names = [0, 1]
    data = frame.drop("offer_completed_y_n", axis=1)
    feature_names = data.columns
    X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)
    model = SVC(kernel='linear')
    model.fit(X_train, y_train)
    print('Test Acc: %.3f' % model.score(X_test, y_test))
    predictions = model.predict(X_test)
    print(classification_report(y_test, predictions, target_names=["0","1"]))
    print("=====")

In [4]:
for frame in dataframes:
    test(frame)

Test Acc: 0.548
              precision    recall  f1-score   support

           0       0.58      0.56      0.57        39
           1       0.51      0.53      0.52        34

    accuracy                           0.55        73
   macro avg       0.55      0.55      0.55        73
weighted avg       0.55      0.55      0.55        73

=====
Test Acc: 0.606
              precision    recall  f1-score   support

           0       0.72      0.51      0.60        41
           1       0.52      0.73      0.61        30

    accuracy                           0.61        71
   macro avg       0.62      0.62      0.61        71
weighted avg       0.64      0.61      0.60        71

=====
Test Acc: 0.493
              precision    recall  f1-score   support

           0       0.56      0.26      0.35        39
           1       0.47      0.76      0.58        34

    accuracy                           0.49        73
   macro avg       0.51      0.51      0.47        73
weighted avg       0.52      0.49      0.46        73

=====
Test Acc: 0.507
              precision    recall  f1-score   support

           0       0.75      0.22      0.34        41
           1       0.46      0.90      0.61        30

    accuracy                           0.51        71
   macro avg       0.60      0.56      0.47        71
weighted avg       0.63      0.51      0.45        71

=====